{% extends 'base2.html' %}
{% block title %}About{% endblock%}



 {% block head %}
 <div class="row">
            <p>ABOUT</p>
</div>
{% endblock  %}
{% block content %}
  <section>
  <div class="container">
  <div class="row"><br/><br/>
   <p>Our team comprise of IIT and IIM alumni, with experience of over 20 years. <br><br><br>

    We are passionate about technology and solving problems. Our core vision is to make life better using latest technology like AI, cloud, Mobile<br>and web applications.<br><br><br>

    We have a team which has good expertise in end to end software solutions using cloud, open source technology, Intelligent chat bots,<br> computer vision.</p>
    </div><br/><br/><br/><br/>
   </div>
   </section>

{% endblock %}