{% extends 'base2.html' %}
{% block title %}Career{% endblock%}
{% block head %}

<div class="row">
            <p>CAREER</p>
</div>
{% endblock  %}
{% block content %}
<section>
  <div class="container">
  <div class="row"><br/><br/>
   <p>We are looking for very good hands on experience in Python, C++, Javascript, HTML5, Postgres/MySql, AWS, Jenkins, <br>
   Dockers, Kubernetes, Airflow, Apache Storm, Spark and GCP with experience of 4 to 10 years in industry.</p>
    </div>

<a href="{% url 'internform' %}">
<button type="button" id="bloc">Apply </button></a>
   </div>
  
   </section>
{% endblock %}