{% extends 'base2.html' %}


{% block title %}
Home
{% endblock%}

        





 {% block head %}
 <div class="row">
            <p>NLP AI AUTOMATION<br/> PRIVATE LIMITED</p>
</div>
{% endblock  %} 
{% block content %}
<section>
  <div class="container">
    <div class="row"><br/><br/>
      <p>NLP AI Automation specializes in designing strategic, state-of-the-art, AI-first approach solutions to all business problems. We establish meaningful and ingenious strategies, maps curative<br><br><br> solutions to help stand out within the automation industry. We help to design and develop agile solutions that is crafted to your requirements. Our team has wide range of experience in the <br><br><br>field of software development, artificial intelligence and automation.</p>
    </div><br/><br/><br/><br/>
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#demo">
          <h1>PRODUCT</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#demo">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="demo" class="collapse">
        <p>Interview Bot. Please visit the page <a href="{% url 'product' %}">Products</a> for more information.</p>
      </div>
    </div><br/><br/>

    <!-- Two -->
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#two">
          <h1>SERVICES</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#two">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="two" class="collapse">
      <p>We offer cutting edge software service. Please click to see the list of our Click to visit Services Page.
      </p>
      </div>
    </div><br/><br/>


    <!-- Three -->
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#three">
          <h1>TRAININGS</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#three">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="three" class="collapse">
      <p> We provide real world end to end case study on various fields on AI. The purpose of these workshop is to give you full knowledge in short period of time. Ensuring you get the full knowledge in short period of time there by saving your time and money. After you do these workshop you will discover various technologies used in AI. How the requirement is understood, how to collect the data, how to analyse data, how data moves in the pipeline, which model to use, testing, continuous development and deployment, various cloud technologies to be used. For more information visit the page Click to visit Trainings Page </p>
     </div>
    </div><br/><br/>

    <!-- four -->
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#four">
          <h1>CONSULTING</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#four">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="four" class="collapse">
      <p> We provide consulting in Software services, cutting edge AI solutions, Software Architecture, Cloud Architecture. We have a elite panel of highly experience people from Industry with above 20 years of experience and from top university of world. Please visit consulting page for more information and booking a slot. Click to Visit Consulting Page </p>
      </div>
    </div><br/><br/>

    <!-- five -->
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#five">
          <h1>CAREERS</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#five">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="five" class="collapse">
      <p>We have multiple openings please Click to visit Careers Page </p>
      </div>
    </div><br/><br/>

    <!-- six -->
    <div class="row">
      <div class="col-lg-12" style="border-bottom: 1px solid #000;">
        <div class="col-lg-6" data-toggle="collapse" data-target="#six">
          <h1>INTERNSHIP</h1>
        </div>
        <div class="col-lg-6 text-right" data-toggle="collapse" data-target="#six">
          <h1><i class="fa fa-angle-down"></i></h1>
        </div>

      </div>
      <div id="six" class="collapse">
      <p>We have multiple openings please Click to visit Internship Page </p>
      </div>
    </div><br/><br/>


  </div>
</section>
{% endblock %}