
{% extends 'base2.html' %}
{% block title %}Internship{% endblock%}
 {% block head %}
 <div class="row">
            <p>INTERNSHIP</p>
</div>
{% endblock  %}
{% block content %}
<section>
  <div class="container">
  <div class="row"><br/><br/>
   <p>This internships offer candidates the unique experience that combines cutting edge research with commercial technology development. We apply research across the entire Artificial Intelligence stack to solve real world problems. Interns will work on a range of projects like building machine learning algorithms, working on large scale Artificial Intelligence system deployments or something in between.

We are seeking interns who are passionate about working on cutting edge solutions in deep learning, machine learning, and AI in one or more of the following areas: Computer vision, object detection and localization, speech recognition, natural language processing, recommendation systems, forecasting, and multimodal learning.

1. Coding using Python, Javascript

2. Research work on intelligent chat bots

3. Development, testing, integration

4. Deployment to cloud, AWS, GCP

5. Tensorflow

6. Transformers, BERT

7. Scraping of data

8. Data cleaning, analysis

9. Rasa chat bots.

10. Web application development

11. API development

12. Mobile app development

13. Conditional GAN, Style GAN, BigGAN, Cyclic GAN.

Skill which you will use and learn: AWS, GCP, Rasa, Python, C++, Javascript, Java, Django, Flask, Continuous integration tools, Deployment in production, GANs.

Unpaid internship.

Interns who perform good will be given full time job offer.

Number of positions : 10 </p>
    </div>
   <a href="{% url 'internform' %}"> <button type="button" id="bloc">Apply </button></a>
   </div>
   </section>

{% endblock %}