{% extends 'base2.html' %}
{% load static %}
{% block title %}Trainings{% endblock%}
 {% block head %}
 <div class="row">
            <p>TRAINING</p>
</div>
{% endblock  %}
{% block content %}



   <section>
  <div class="container">
   <div class="row"><br/><br/>
     <div class="col-sm-6">
       <img src="{% static 'cor1.jpg' %}" height='343px' width='448px'>
     </div>
     <div class="col-sm-6">
         <h1> <b>CORPORATE TRAINING</b></h1>
         <p>
         
        Corporate training for various technical skills like Full stack development, Cloud<br>
          training, AI/ML, Intelligent chat bot, Computer vision. Contact us for more<br>
          information Contact US 
  </p>
  </div><br/><br/>
  </div>    
</div>

<div class="container">
   <div class="row"><br/><br/>
     <div class="col-sm-6">
       <img src="{% static 'cor2.png' %}" height='230px' width='448px'>
     </div>
     <div class="col-sm-6">
         <h1><b>BOOTCAMP BY EXPERTS</b>
 </h1>
         <p>
   End to end real time case studies.
  </p>
  </div><br/><br/>
  </div>    

 <div class="col-sm-6">
<h3><u><b>Reviews from the customers</b></u></h3>

<img src="{% static 'rev.png' %}">
<img src="{% static 'rev2.png' %}">
<img src="{% static 'rev3.png' %}">
<img src="{% static 'Ajay.png' %}">

</div>
</div>
</section>









{% comment %} <section>
  <div class="container">
  <div class="row"><br/><br/>
   <p>training content</p>
    </div><br/><br/><br/><br/>
   </div>
   </section> {% endcomment %}
{% endblock %}